// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
// Components
@import 'components/typography';
@import 'components/grid';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/sections';
@import 'components/nav';


body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 18px;
}
.row {
  padding: 20px 0;
}
.header{
  background: darken($dark, 80);
  color: $dark;
  padding: 20px 0;
  font-size: 25px;
}
a{
  text-decoration: none;
}
.nav{
  background: darken($dark,20);
  color: $dark;
  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 20px;
      text-align: center;
      a{
        color: $light;
        &:hover{
          color: darken($dark, 80);
        }
      }
    }
  }

}
.content{
  p{
    padding: 20px 0;
  }
  img{
    border-radius: 50%;
    width: 200px;
  }
  margin-bottom: 5em;
  li{
    display: inline-block;
    a{
      background: darken($dark,80);
      color: $light;
      padding: 5px;
      color: $light;
      &:hover{
        background: $dark;
        color: darken($dark,80);;
      }
    }
  }
}
.footer{
  background: darken($dark, 50);
  color: $light;
  position: fixed;
  bottom: 0;
  width: 100%;
  p{
    padding: 15px 0 ;
  }
}